@import url("https://fonts.googleapis.com/css2?family=Basic&family=Nunito:wght@400;700&display=swap");

* {
  color: #234cad;
  font-family: "Nunito", sans-serif;
}
body {
  color: #234cad;
}

/* navbar */
.icon-nav {
  padding: 15px 20px 15px 20px;
  background-color: #f2f6ff;
  border-radius: 100%;
}
.img-nav {
  width: 20px;
  height: 10px;
}
.nav-item .nav-link {
  color: #234cad;
}

/* Section 1 awal */
.row .content {
  padding: 0 50px 0 100px;
}

.text-color {
  color: #234cad;
}

.btn-login {
  background: none;
  border-radius: 25px;
  width: 135px;
  height: 50px;
  color: #234cad;
  border: 2px solid #234cad;
}
.btn-login:hover {
  background: #234cad;
  color: white;
}
.btn-signup {
  width: 135px;
  height: 50px;
  background: #f2f6ff;
  border: none;
  border-radius: 25px;
  color: #234cad;
}
.btn-signup:hover {
  background: #234cad;
  color: white;
}
.content-1 {
  width: auto;
  height: 575px;
  background-color: #f2f6ff;
  border-radius: 60px;
}
.font-text {
  font-size: 16px;
}
.font-p {
  font-size: 12px;
}
.text-p {
  font-size: 10px;
  margin-left: 100px;
}

/* Box 1 */
.box-1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  background-color: #ffffff;
  border-radius: 20px;
}
.box-1 img {
  max-width: 100%;
  max-height: 100%;
}

/* Box 2 */
.box-2 {
  display: flex;
  align-items: center;
  width: 350px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 0 0 0 rgba(35, 76, 173, 0.116), 0 60px 100px 0 rgba(35, 76, 173, 0.095);
  z-index: 1;
  position: relative;
}
.box-2 img {
  max-width: 100%;
  max-height: 100%;
}
.border-box2 {
  background: linear-gradient(to left bottom, #234cad 25%, transparent 25%);
  border-radius: 100%;
  padding: 3px;
  overflow: hidden;
}
.icon-box2 {
  background-color: #ffffff;
  border-radius: 100%;
  padding: 8px;
}
.icon-img2 {
  padding: 12px;
  background-color: #f2f6ff;
  border-radius: 100%;
}
.ms-4 p {
  margin-bottom: 0;
}

/* Box 3 */
.box-3 {
  display: block;
  align-items: center;
  width: 276px;
  height: 160px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px;
  z-index: 0;
  position: relative;
}
.box-3 img {
  max-width: 100%;
  max-height: 100%;
}
.item-box {
  display: flex;
}
.border-box3 {
  background: linear-gradient(#234cad 100%, transparent 100%);
  border-radius: 100%;
  padding: 3px;
  overflow: hidden;
}
.icon-box3 {
  background-color: #ffffff;
  border-radius: 100%;
  padding: 8px;
}
.icon-img3 {
  padding: 12px;
  background: none;
}
.item {
  display: flex;
  margin: 15px 0 0 0;
}

.item-1 {
  background-color: #f2f6ff;
  padding: 15px;
  border-radius: 100%;
  border: 4px solid #ffffff;
}
.item-1:not(:first-child) {
  margin-left: -10px;
}
.item-1 p {
  font-size: 10px;
  font-weight: bold;
  color: #234cad;
  margin-bottom: 0;
}

/* Box 4 */
.box-4 {
  display: flex;
  align-items: center;
  width: 350px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px;
}
.border-box4 {
  background-color: #234cad;
  border: 2px solid #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  margin-top: -50px;
  transform: translateX(50px);
}
.border-box4 p {
  margin-bottom: 0;
  font-size: 8px;
  font-weight: bold;
  color: #ffffff;
}
.icon-box4 {
  background-color: #f2f6ff;
  border-radius: 100%;
  padding: 26px;
  z-index: 1;
}
.icon-box4 p {
  margin-bottom: 0;
}
.ms-4 p {
  margin-bottom: 0;
}
.boxs {
  display: inline-flex;
}
.box-a {
  display: block;
}

/* Box 5 */
.box-5 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 130px;
  height: 160px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px;
  margin: 40px 0 0 50px;
}
.box-5 img {
  max-width: 100%;
  max-height: 100%;
}
.border-box5 {
  background: linear-gradient(to top left, #234cad 75%, transparent 75%);
  border-radius: 100%;
  padding: 3px;
  overflow: hidden;
}
.icon-box5 {
  background-color: #ffffff;
  border-radius: 100%;
  padding: 8px;
}
.icon-img5 {
  padding: 12px;
  background-color: #f2f6ff;
  border-radius: 100%;
}
.mt-3 p {
  margin-bottom: 0;
}

/* Box 6 */
.box-6 {
  display: flex;
  align-items: center;
  width: 350px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px;
  transform: translateX(-50px);
}
.border-box6 {
  background-color: #234cad;
  border: 2px solid #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  margin-top: -50px;
  transform: translateX(50px);
}
.border-box6 p {
  margin-bottom: 0;
  font-size: 8px;
  font-weight: bold;
  color: #ffffff;
}
.icon-box6 {
  background-color: #f2f6ff;
  border-radius: 100%;
  padding: 26px;
  z-index: 1;
}
.icon-box6 p {
  margin-bottom: 0;
}
.box-6 .ms-4 .d-md-flex .text-p {
  font-size: 10px;
  margin-left: 90px;
}

/* Box 7 */
.box-7 {
  display: flex;
  align-items: center;
  width: 350px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px;
  transform: translateX(50px);
}

.icon-box7 {
  background-color: #f2f6ff;
  border-radius: 100%;
  padding: 26px;
  z-index: 1;
}
.icon-box7 img {
  max-width: 100%;
  max-height: 100%;
}

/* Box 8 */
.box-8 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75px;
  height: 75px;
  background-color: #ffffff;
  border-radius: 20px;
}
.box-8 img {
  max-width: 100%;
  max-height: 100%;
}
/* Section 1 akhir */

/* Sectioan 2 awal */
.cards-img {
  background-color: #f2f6ff;
  border-radius: 100%;
}
.cards-img img {
  width: auto;
  height: 90px;
}
.section {
  margin: 90px 0 90px 0;
}
.row {
  justify-content: center;
}
.box-item {
  width: 575px;
  height: 575px;
  background-color: #f2f6ff;
  border-radius: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.item-text {
  padding: 100px;
}

/* Box 9 */
.box-9 {
  display: flex;
  align-items: center;
  width: 438px;
  height: 125px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 0 0 0 rgba(35, 76, 173, 0.116), 0 60px 100px 0 rgba(35, 76, 173, 0.095);
  z-index: 2;
  position: relative;
}
.border-box9 {
  background-color: #234cad;
  border: 2px solid #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  margin-top: -50px;
  transform: translateX(50px);
}
.border-box9 p {
  margin-bottom: 0;
  font-size: 8px;
  font-weight: bold;
  color: #ffffff;
}
.icon-box9 {
  background-color: #f2f6ff;
  border-radius: 100%;
  padding: 26px;
  z-index: 1;
}
.icon-box9 p {
  margin-bottom: 0;
}
.box-9 .ms-4 .d-md-flex .text-p {
  font-size: 12px;
  margin-left: 110px;
}
.box-9 .ms-4 .d-md-flex .font-text {
  font-size: 20px;
}
.box-9 .ms-4 .font-p {
  font-size: 15px;
}

/* Box 10 */
.box-10 {
  display: flex;
  align-items: center;
  width: 350px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px;
  box-shadow: 0 0 0 0 rgba(35, 76, 173, 0.116), 0 60px 100px 0 rgba(35, 76, 173, 0.095);
  position: relative;
  z-index: 1;
}
.border-box10 {
  background-color: #234cad;
  border: 2px solid #ffffff;
  width: 16px;
  height: 16px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  margin-top: -40px;
  transform: translateX(48px);
}
.border-box10 p {
  margin-bottom: 0;
  font-size: 8px;
  font-weight: bold;
  color: #ffffff;
}
.icon-box10 {
  background-color: #f2f6ff;
  border-radius: 100%;
  padding: 20px;
  z-index: 1;
}
.icon-box10 p {
  margin-bottom: 0;
}
.box-10 .ms-4 .d-md-flex .text-p {
  font-size: 10px;
  margin-left: 110px;
}
.box-10 .ms-4 .d-md-flex .font-text {
  font-size: 16px;
}
.box-10 .ms-4 .font-p {
  font-size: 12px;
}

/* Box 11 */
.box-11 {
  display: flex;
  align-items: center;
  width: 282px;
  height: 85px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 15px;
  position: relative;
  z-index: 0;
}
.border-box11 {
  background-color: #234cad;
  border: 2px solid #ffffff;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 2;
  margin-top: -40px;
  transform: translateX(40px);
}
.border-box11 p {
  margin-bottom: 0;
  font-size: 8px;
  font-weight: bold;
  color: #ffffff;
}
.icon-box11 {
  background-color: #f2f6ff;
  border-radius: 100%;
  padding: 16px;
  z-index: 1;
}
.icon-box11 p {
  margin-bottom: 0;
}
.box-11 .ms-4 .d-md-flex .text-p {
  font-size: 7px;
  margin-left: 75px;
}
.box-11 .ms-4 .d-md-flex .font-text {
  font-size: 12px;
}
.box-11 .ms-4 .font-p {
  font-size: 9px;
}
/* Section 2 akhir */
