@import url('https://fonts.googleapis.com/css2?family=Basic&family=Nunito:wght@400;700&display=swap');

:root {
  --dark-blue: #234cad;
  --white-blue: #f2f6ff;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

.card {
    width: 350px;
}

.card-body {
    border-radius: 50px;
    background: var(--white-blue);
}

.card-body h5{
    color: var(--dark-blue);
    padding: 10px;
    font-size: 25px;
    font-weight: 400;
}

.card-body h1{
    color: var(--dark-blue);
    font-size: 56px;
    font-weight: 700;
}

.card-body .btn {
    background-color: white;
    border-radius: 37.5px;
    width: 274px;
    height: 75px;
    flex-shrink: 0;
    padding-top: 20px;
    text-align: center;
    color: var(--dark-blue);
    font-size: 25px;
    font-weight: 700;
}