@import url('https://fonts.googleapis.com/css2?family=Basic&family=Nunito:wght@400;700&display=swap');

:root {
  --dark-blue: #234cad;
  --white-blue: #f2f6ff;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Nunito', sans-serif;
}

/* Transform */

.transform-section-container {
  position: relative;
  width: 1240px;
  height: 575px;
  flex-shrink: 0;
  background-color: var(--white-blue);
  border-radius: 60px;
  margin: 0 auto;
  margin-bottom: 100px;
}

/* attachment */

.attachment-content {
  position: absolute;
  width: 350px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 25px;
  left: 108px;
  top: 271px;
  padding: 20px;
}

.attachment-icon {
  background-color: var(--white-blue);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* file */

.file-content {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: #ffffff;
  border-radius: 25px;
  left: 483px;
  top: 56px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* spencer */

.spencer-content {
  position: absolute;
  width: 350px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 25px;
  left: 584px;
  top: 31px;
  padding: 20px;
}

.circle-spencer {
  background-color: var(--white-blue);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-info-spencer {
  position: absolute;
  background-color: var(--dark-blue);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 21px;
  left: 65px;
  border: 2px solid #ffffff;
}

.info-spencer {
  color: #ffffff;
  font-size: 6px;
  font-weight: 700px;
  margin: 0;
}

.time-spencer {
  position: absolute;
  top: 29px;
  left: 293px;
}

/* sales */

.sales-content {
  position: absolute;
  width: 276px;
  height: 160px;
  background-color: #ffffff;
  border-radius: 25px;
  left: 483px;
  top: 156px;
  padding: 20px;
}

.sales-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--dark-blue);
}

.text-info-sales {
  color: var(--dark-blue);
  font-size: 10px;
  font-weight: 700;
  margin: 0;
}

.kr-sales {
  background-color: var(--white-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
}

.mj-sales {
  position: absolute;
  background-color: var(--white-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  top: 101px;
  left: 51px;
}

.oi-sales {
  position: absolute;
  background-color: var(--white-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  top: 101px;
  left: 81px;
}

.plus-sales {
  position: absolute;
  background-color: var(--white-blue);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ffffff;
  top: 101px;
  left: 111px;
}

/* uploading */

.uploading-content {
  position: absolute;
  width: 350px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 25px;
  left: 784px;
  top: 156px;
  padding: 20px;
}

.title-uploading {
  color: var(--dark-blue);
  font-size: 16px;
  font-weight: 400;
  margin: 0;
  font-family: 'Basic', sans-serif;
}

.subtitle-uploading {
  color: var(--dark-blue);
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  font-family: 'Basic', sans-serif;
}

/* message */

.message-content {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: #ffffff;
  border-radius: 25px;
  left: 383px;
  top: 396px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* amy */

.amy-content {
  position: absolute;
  width: 350px;
  height: 100px;
  background-color: #ffffff;
  border-radius: 25px;
  left: 483px;
  top: 341px;
  padding: 20px;
}

.circle-amy {
  background-color: var(--white-blue);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-info-amy {
  position: absolute;
  background-color: var(--dark-blue);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 21px;
  left: 65px;
  border: 2px solid #ffffff;
}

.time-amy {
  position: absolute;
  top: 29px;
  left: 293px;
}

/* progress */

.progress-content {
  position: absolute;
  width: 130px;
  height: 160px;
  background-color: #ffffff;
  border-radius: 25px;
  left: 483px;
  top: 466px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Increase */
