body {
  font-family: "Nunito", sans-serif;
}

.icon-nav {
  padding: 15px 20px 15px 20px;
  background-color: #f2f6ff;
  border-radius: 100%;
}
.img-nav {
  width: 20px;
  height: 10px;
}

.text-color {
  color: #234cad;
}

.btn-login {
  background: none;
  border-radius: 25px;
  width: 135px;
  height: 50px;
  color: #234cad;
  border: 2px solid #234cad;
}
.btn-login:hover {
  background: #234cad;
  color: white;
}
.btn-signup {
  width: 135px;
  height: 50px;
  background: #f2f6ff;
  border: none;
  border-radius: 25px;
  color: #234cad;
}
.btn-signup:hover {
  background: #234cad;
  color: white;
}
.content-1 {
  width: auto;
  height: 575px;
  background-color: #f2f6ff;
  border-radius: 60px;
}
